<table>
  <tr>
    <h1>
      <%= Spree.t('shipment_mailer.dropped_off_email.greeting') %>
    </h1>
  </tr>
  <tr>
    <p></p>
  </tr>
  <tr>
    <td>
      <p class="lede"><%= Spree.t('shipment_mailer.picked_up_email.order_summary') %></p>
      <table>
        <% @shipment.manifest.each do |item| %>
          <td><%= "#{item.variant.product.name} #{item.variant.options_text}" %></td>
        <% end %>
      </table>
    </td>
  </tr>
  <tr>
    <td>
      <p>
        <%= Spree.t('shipment_mailer.dropped_off_email.thanks') %>
      </p>
    </td>
    <td class="expander"></td>
  </tr>
</table>
